<div class="container-fluid" id="slider">
    <!--<h1>current speed: {{speedes}}</h1>-->
    <!-- TODO: Make the slider refresh after each click -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="row">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <!-- Indicators -->
                <div class="item active">
                    <div class="col-md-12 welcome-header">
                        <app-event-summary [city]="city">
                        </app-event-summary>
                    </div>
                </div>
                <div class="item" *ngFor="let slide of slides">
                    <!-- Iterate through each slide -->

                    <!-- COURSE SECTION-->
                    <div *ngIf="slide.type != 'seminar'">
                        <app-courses [slide]="slide">

                        </app-courses>
                
                    </div>


                    <!-- SEMINAR SECTION -->
                    <div *ngIf="slide.type == 'seminar'">
                        <app-seminars [slide]="slide">
                            
                        </app-seminars>
   
                    </div>

                </div>
                <!-- end of the slider -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li *ngFor="let slide of slides; let i = index" data-target="#myCarousel" data-slide-to="i+1"></li>
                </ol>
            </div>
            <!-- end of the carousel -->
        </div>
    </div>
</div>