
<div class="main main_height">


    
    <div class="main_page">
        <app-header></app-header>  <!-- HEADER -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 margin"></div> <!--Marginalen både uppe och ner -->            
                    </div>
                        <div class="row">
                            <div class="col-sm-7 center-left"> <!-- styr vänstra centerdelen -->
                                <div class="col-sm-11  col-sm-offset-1 left">
                                    <div class="row">
                                        <div class="col-sm-12 left-upper"></div>
                                        <div class="col-sm-12 left-lower">
                                                <b> Temat för kvällen är att kombinera 2 intressen, 
                                                spela brädspel & continuous delivery. Vi är många på 
                                                Softhouse som gillar just detta och vill gärna träffa fler 
                                                som delar vårt intresse.
                                                </b>
                                                <br /><br/>
                                                I spelet “Continuous delivery – The Game” samarbetar vi 
                                                3-5 spelare med ansvar för olika avdelningar med målet att 
                                                Leverera och Maximera inkomst samtidigt som vi förändrar en
                                                    traditionell utvecklingsavdelning till en continuous delivery
                                                    pipeline. Genom spelet hoppas vi trigga intressanta 
                                                    diskussioner kring ämnet!
                                                <br /><br />
                                                Du kan läsa mer och beställa en egen version av spelet på följande hemsida.
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-sm-5 center-right"> <!-- styr högra centerdelen -->                                                        
                                <div class="col-sm-12 right">                                 
                                        <div class="col-sm-5 right-upper-left">
                                                <div class="col-sm-12 margin-upper"></div>
                                                <div class="col-sm-12 picture"></div> <!-- bild på föreläsare -->
                                                <div class="col-sm-12 margin-lower">Föreläsare</div>                                                                                      
                                        </div>
                                        <!-- Information om föreläsningen uppvisas  -->
                                        <div class="col-sm-6 right-upper-right right-upper-information"> 
                                            <span>INFORMATION</span><br/>
                                            <span>Gratis</span> event<br/>
                                            <span>Språk:</span> svenska<br/>
                                            <span>DATUM: 11 okt 2017</span><br/>
                                            <span>Tid:</span> 17:00-19:00 (Enklare mat och dryck från 17:00, Introduktion av spelet startar 17:15, sedan tar spelet ca 1,5 h)<br/>
                                            <span>Plats:</span> Kungsgatan 1B, 352 30 Växjö<br/>
                                            <br/>
                                            <span>Annan information:</span><br/>
                                            Begränsat antal platser!<br/>
                                            Enklare mat serveras, <span>meddela allergier</span>.<br/>
                                        </div>
                                    
                                    
                                        <div class="col-sm-12 space"></div> <!-- skapar ett mellanrum ovanför presentation om föreläsare -->
                                    
                                    
                                        <div class="col-sm-11 right-lower"> <!-- information om föreläsare -->
                                            <span>MATTIAS ÅHLANDER</span><br/>                                                        
                                            Mattias är agil coach och utbildare hos Softhouse med erfarenhet 
                                            av förändringsledning, verksamhetsutveckling och införande av agila 
                                            arbetssätt. Rutinerad och engagerad ledare som har erfarenhet i många 
                                            roller, tex chef, projektledare, scrum master, produktägare och utvecklare. 
                                            Coachar och leder utvecklingsteam, scrum masters, produktägare och chefer i 
                                            sin roll som agil coach.
                                        </div>                                     
                                </div>
                            </div>
                        </div>                            
                    <div class="row">
                        <div class="col-sm-12 margin"></div>   <!--Marginalen uppe och ner -->         
                    </div>
                </div>
    </div>


    <!-- <div class="col-md-6"> -->
        <!-- SLIDER -->
       <!-- <app-slider></app-slider> -->
   <!--  </div> -->
</div>