
<div class="main main_height">


    
    <div class="main_page">
        <app-header></app-header>  <!-- HEADER -->
            <div class="vanster">
                    <div class="container-fluid">
                        ETT!!!
                        <div class="row">
                            <div class="col-sm-4 margin"></div>             
                        </div>
                        <div class="row">
                            <div class="col-sm-4 center">
                                <div class="row">
                                    <div class="col-md-6 col-sm-offset-1 left">
                                        TVÅ
                                    </div>
                                    <div class="col-md-3 col-sm-offset-1 red">
                                            <div class="row">
                                                    <div class="col-sm-4 upper"></div>
                                                    <div class="col-sm-4 blue-upper">TRE</div>
                                                    <div class="col-sm-4 green"></div>
                                                    <div class="col-sm-4 blue-lower">FYRA</div>
                                                    <div class="col-sm-4 green"></div>
                                            </div>
                                    </div>
                                </div>                            
                            </div>            
                        </div>
                        <div class="row">
                            <div class="col-sm-4 margin"></div>             
                        </div>
                    </div>
            </div>
    </div>


    <!-- <div class="col-md-6"> -->
        <!-- SLIDER -->
       <!-- <app-slider></app-slider> -->
   <!--  </div> -->
</div>