
<div class="main main_height">


    
    <div class="main_page">
        <app-header></app-header>  <!-- HEADER -->
            <div class="vanster">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-sm-4 margin"></div>             
                        </div>
                        <div class="row">
                            <div class="col-sm-4 center">
                                <div class="row">
                                    <div class="col-md-6 col-sm-offset-1 left">
                                        <div class="row">
                                                <div class="col-sm-4 upper2">
                                                </div>
                                                <div class="col-sm-4 upper">
                                                        Temat för kvällen är att kombinera 2 intressen, spela brädspel & 
                                                        continuous delivery. Vi är många på Softhouse som gillar just detta 
                                                        och vill gärna träffa fler som delar vårt intresse.
                                                        <br />
                                                        <br />
                                                        I spelet “Continuous delivery – The Game” samarbetar vi 3-5 
                                                        spelare med ansvar för olika avdelningar med målet att Leverera och
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-offset-1 red">
                                            <div class="row">
                                                    <div class="col-sm-4 upper"></div>
                                                    <div class="col-sm-4 blue-upper">
                                                        <div class="row">
                                                            <div class="col-sm-1 blue"></div>
                                                            <div class="col-sm-2 green">
                                                            </div>
                                                            <div class="col-sm-2 blue"></div>
                                                        </div>    
                                                    </div>
                                                    <div class="col-sm-4 middle"></div>
                                                    <div class="col-sm-4 blue-lower">
                                                            <h5>MATTIAS ÅHLANDER</h5>
                                                            
                                                            Mattias är agil coach och utbildare hos Softhouse med erfarenhet av 
                                                            förändringsledning, verksamhetsutveckling och införande av agila arbetssätt. 
                                                            Rutinerad och engagerad ledare som har erfarenhet i många roller, tex chef, 
                                                            projektledare, scrum master, produktägare och utvecklare. Coachar och leder 
                                                            utvecklingsteam, scrum masters, produktägare och chefer i sin roll som agil 
                                                            coach.

                                                    </div>
                                                    <div class="col-sm-4 lower"></div>
                                            </div>
                                    </div>
                                </div>                            
                            </div>            
                        </div>
                        <div class="row">
                            <div class="col-sm-4 margin"></div>             
                        </div>
                    </div>
            </div>
    </div>


    <!-- <div class="col-md-6"> -->
        <!-- SLIDER -->
       <!-- <app-slider></app-slider> -->
   <!--  </div> -->
</div>