<div class="container-fluid" id="slider">
    <!--<h1>current speed: {{speedes}}</h1>-->
    <!-- TODO: Make the slider refresh after each click -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" attr.data-interval={{speedes}}>
        <div class="row">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <!-- Indicators -->
                <div class="item active">
                    <div class="col-md-12 welcome-header">
                        <app-event-summary>
                        </app-event-summary>
                    </div>
                </div>
                <div class="item" *ngFor="let slide of slides">
                    <!-- Iterate through each slide -->

                    <!-- COURSE SECTION-->
                    <div *ngIf="slide.type != 'seminar'">
                    <div class="col-md-11">
                            <h1 class="eventHeader">{{slide.title}}</h1>
                            <!-- header for the seminare (svengelska) -->
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-8 margin-left">
                                    <!-- Left column with the event -->
                                    <div class="col-md-12 eventImage">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                   
                                                        <img src="{{slide.imageUrl}}" class="img-event" style="max-height:700px;">
                                                <!-- img for the event -->
                                                  

                                            </div>

                                        </div>
                                        <div class="col-md-12" class="event-description">
                                            <span class="speakerheader">Kursbeskrivning</span>
                                            <b>{{slide.subHeading}}</b>
                                            <!-- header for the event description -->
                                            <br>
                                            <br>
                                            <!-- limits the lenght of the description -->
                                            <p id="test" class="crop-course">{{slide.description}}</p>
                                            <br> För mer information, besök
                                            <span> softhouseeducation.se/kommande-kurser</span>
                                            <!-- Description for the event -->
                                        </div>
                                    </div>
                                </div>
                                <!-- end left column -->
                                <div class="col-md-4 margin-right">
                                    <!-- The right column with information and the speaker -->
                                    <div class="col-md-12">
                                    </div>
                                    <div class="col-md-12 speaker-information">
                                        <!-- Description about the speaker -->
                                        <span class="speakerheader">Information</span>
                                        <br>
                                        
                                        <p>{{slide.courseInformation}}</p>
                                    </div>
                                    <div class="col-md-12 speaker">
                                            <span>{{slide.courseContactName}}
                                                <br>
                                            </span>
                                            <!-- Name of the contactperson -->
                                        </div>
                                    <div *ngIf="slide.contactImageUrl != ''">
                                        <div class="col-md-12">
                                        
                                            <div class="col-md-3"></div>
                                            <div class="col-md-6 img-position">
                                                <img class="img" src="{{slide.contactImageUrl}}">
                                                <!-- image of the contactperson -->
                                            </div>
                                            <div class="col-md-3"></div>
                                           
                                        </div>
                                    </div>
                                    <div class="col-md-12 contact-information">
                                        <br>
                                        <div *ngIf="slide.contactEmail != ''|| slide.contactPhone != '' ">
                                            <p>
                                                <span>Kontaktuppgifter</span>
                                            </p>
                                        </div>
                                        <div *ngIf="slide.contactEmail != ''">
                                            <p>&#9993; {{slide.contactEmail}}</p>
                                        </div>
                                        <div *ngIf="slide.contactPhone != ''">
                                            <p>&#x2706; {{slide.contactPhone}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end right column -->
                            </div>
                        </div>
                    </div>


                    <!-- SEMINAR SECTION -->
                    <div *ngIf="slide.type == 'seminar'">
                        <!-- SEMINAR SECTION -->
                        <div class="col-md-11">
                            <h1 class="eventHeader">{{slide.title}}</h1>
                            <!-- header for the seminare (svengelska) -->
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-8 margin-left">
                                    <!-- Left column with the event -->
                                    <div class="col-md-12 eventImage">
                                        <div class="col-md-12">
                                            <div class="col-md-8">
                                                <img src="{{slide.imageUrl}}" class="img-event" style="width:100%;">
                                                <!-- img for the event -->
                                            </div>
                                            <div class="col-md-4 information">
                                                <!-- Information about the event is presented -->
                                                <span class="information-highlight">INFORMATION</span>
                                                <br>
                                                <span class="highlight">Pris: </span>{{slide.price}}
                                                <!-- Price -->
                                                <br>
                                                <span class="highlight">Språk: </span>{{slide.language}}
                                                <!-- Language -->
                                                <br>
                                                <span class="highlight">Datum: </span>{{slide.date}}
                                                <!-- Date -->
                                                <br>
                                                <span class="highlight">Plats: </span>{{slide.location}}
                                                <!-- Place / Adress -->
                                                <br>
                                            </div>
                                        </div>
                                        <div class="col-md-12" class="event-description">
                                            <br>
                                            <b>{{slide.subHeading}}</b>
                                            <!-- header for the event description -->
                                            <br>
                                            <br>
                                            <!-- limits the lenght of the description -->
                                            <p id="test" class="crop">{{slide.description}}</p>
                                            <br> För mer information, besök
                                            <span> softhouseeducation.se/kommande-seminarier</span>
                                            <!-- Description for the event -->
                                        </div>
                                    </div>
                                </div>
                                <!-- end left column -->
                                <div class="col-md-4 margin-right">
                                    <!-- The right column with information and the speaker -->
                                    <div class="col-md-12">
                                    </div>
                                    <div class="col-md-12 speaker-information">
                                        <!-- Description about the speaker -->
                                        <span class="speakerheader">Föreläsare</span>
                                        <br>
                                        <span class="speaker">{{slide.speakerFullName}}</span>
                                        <p>{{slide.speakerDescription}}</p>
                                    </div>
                                    <div class="col-md-12 speaker">
                                        <span>{{slide.contactPerson}}
                                            <br>
                                        </span>
                                        <!-- Name of the contactperson -->
                                    </div>
                                    <div *ngIf="slide.contactImageUrl != ''">
                                        <div class="col-md-12">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-6 img-position">
                                                <img class="img" src="{{slide.contactImageUrl}}">
                                                <!-- image of the contactperson -->
                                            </div>
                                            <div class="col-md-3"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 contact-information">
                                        <br>
                                        <div *ngIf="slide.contactEmail != ''|| slide.contactPhone != '' ">
                                            <p>
                                                <span>Kontaktuppgifter</span>
                                            </p>
                                        </div>
                                        <div *ngIf="slide.contactEmail != ''">
                                            <p>&#9993; {{slide.contactEmail}}</p>
                                        </div>
                                        <div *ngIf="slide.contactPhone != ''">
                                            <p>&#x2706; {{slide.contactPhone}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end right column -->
                                <!-- hhejsan -->
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end of the slider -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li *ngFor="let slide of slides; let i = index" data-target="#myCarousel" data-slide-to="i+1"></li>
                </ol>
            </div>
            <!-- end of the carousel -->
        </div>
    </div>
</div>