<div class="container-fluid" id="slider">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="row">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                   <h1> <span>HELLO AND WELCOME TO SOFTHOUSE EVENT SLIDE</span></h1>
                </div>
                <!-- Iterate through each slide -->
                <div class="item" *ngFor="let slide of slides">
                    <h3 class="eventHeader">{{slide.title}}</h3>
                    <div class="col-md-6 eventImage">
                        <img src="{{slide.imageUrl}}" alt="Los Angeles" style="width:100%;">
                        <br>
                        <br>
                        <b>{{slide.subHeading}}</b>
                        <br>
                        <br>
                        <p>{{slide.description}}</p>
                    </div>
                    <div class="col-md-3">
                        <div class="information">
                            <label class="information-highlight">INFORMATION</label>
                            <br>
                            <label><span class="highlight">Pris: </span>{{slide.price}}</label>
                            <br>
                            <label><span class="highlight">Språk: </span>{{slide.language}}</label>
                            <br>
                            <label><span class="highlight">DATUM: </span>{{slide.date}}</label>
                            <br>
                            <label><span class="highlight">Tid: </span>{{slide.time}}</label>
                            <br>
                            <label><span class="highlight">Plats: </span>{{slide.location}}</label>
                        </div>
                    </div>
                    <div class="col-md-2 speakerImage">
                        <img src="{{slide.speakerImageUrl}}" alt="Chicago" style="width:200px;">
                        <span>{{slide.speakerFullName}}</span>
                    </div>
                    <div class="col-md-3 contactInfo">
                        <br>
                        <br>
                        <p>{{slide.speakerDescription}}</p>
                        <p><span>{{slide.speakerEmail}}</span></p>
                        <p><span>{{slide.speakerPhone}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
